.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
    
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-xs) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

.content {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 0rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    font-size: 1.4rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin: 3rem;
    }
    
    @media only screen and (max-width: $bp-small) {
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.5rem 4.5rem 4.5rem 0rem;

    @media only screen and (max-width: $bp-medium) {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }

    @media only screen and (max-width: $bp-small) {
        margin: 3rem;
        margin-top: 0rem;
        align-items: center;
    }
}

.cta {
    padding: 3.5rem;
    text-align: center;
    width: 100%;
    background-color: #fff;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }  

    &__book-now {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}